﻿@model IList<ASECL.Models.Cert>
@{
    Layout = null;
}

<ISO/IEC 27001:2013 Edition & Security Policyhtml><!-- InstanceBegin template="/Templates/quality.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <!-- InstanceBeginEditable name="doctitle" -->
    <title>ASE Kaohsiung</title>
    <!-- InstanceEndEditable -->
    <script language="JavaScript" type="text/JavaScript">
<!--
        function MM_swapImgRestore() { //v3.0
            var i, x, a = document.MM_sr; for (i = 0; a && i < a.length && (x = a[i]) && x.oSrc; i++) x.src = x.oSrc;
        }

        function MM_preloadImages() { //v3.0
            var d = document; if (d.images) {
                if (!d.MM_p) d.MM_p = new Array();
                var i, j = d.MM_p.length, a = MM_preloadImages.arguments; for (i = 0; i < a.length; i++)
                    if (a[i].indexOf("#") != 0) { d.MM_p[j] = new Image; d.MM_p[j++].src = a[i]; }
            }
        }

        function MM_findObj(n, d) { //v4.01
            var p, i, x; if (!d) d = document; if ((p = n.indexOf("?")) > 0 && parent.frames.length) {
                d = parent.frames[n.substring(p + 1)].document; n = n.substring(0, p);
            }
            if (!(x = d[n]) && d.all) x = d.all[n]; for (i = 0; !x && i < d.forms.length; i++) x = d.forms[i][n];
            for (i = 0; !x && d.layers && i < d.layers.length; i++) x = MM_findObj(n, d.layers[i].document);
            if (!x && d.getElementById) x = d.getElementById(n); return x;
        }

        function MM_swapImage() { //v3.0
            var i, j = 0, x, a = MM_swapImage.arguments; document.MM_sr = new Array; for (i = 0; i < (a.length - 2); i += 3)
                if ((x = MM_findObj(a[i])) != null) { document.MM_sr[j++] = x; if (!x.oSrc) x.oSrc = x.src; x.src = a[i + 2]; }
        }
        //-->
    </script>
    <link href="../css/index.css" rel="stylesheet" type="text/css" />
    <!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
</head>

<body leftmargin="12" topmargin="12" marginwidth="12" marginheight="12" onLoad="MM_preloadImages('../images/topbar_1_over.gif','../images/topbar_2_over.gif','../images/topbar_3_over.gif','../images/topbar_4_over.gif','../images/topbar_5_over.gif','../images/menu1-1over.gif','../images/menu1-2over.gif','../images/menu1-3over.gif','../images/menu1-3over.gif','../images/home_over.gif','../images/contactinfo_over.gif','../images/sitemap1_over.gif','../images/menu4-4over.gif')">
    <span class="navigation"><a name="top"></a></span>
    <table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="1"><img src="../images/space.gif" width="1" height="1" /></td>
        </tr>
    </table>
    <table width="780" height="85" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="1"><img src="../images/space.gif" width="1" height="1" /></td>
            <td height="55" valign="top" bgcolor="#009998"><a href="../index.html"><img src="../images/logo.gif" width="150" height="45" border="0" /></a></td>
            <td width="1"><img src="../images/space.gif" width="1" height="1" /></td>
        </tr>
        <tr>
            <td width="1"><img src="../images/space.gif" width="1" height="1" /></td>
            <td valign="bottom" bgcolor="#009998">
                <table width="778" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td width="1" height="1" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="1" /></td>
                    </tr>
                </table>
                <table width="778" border="0" cellpadding="0" cellspacing="0">
                    <tr>
                        <td width="155"><a href="1-1.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','../images/topbar_1_over.gif',1)"><img src="../images/topbar_1.gif" name="Image12" width="155" height="20" border="0" /></a></td>
                        <td width="1" height="20" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="20" /></td>
                        <td width="155"><a href="2.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','../images/topbar_2_over.gif',1)"><img src="../images/topbar_2.gif" name="Image13" width="155" height="20" border="0" /></a></td>
                        <td width="1" height="20" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="20" /></td>
                        <td width="155"><a href="3-1.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','../images/topbar_3_over.gif',1)"><img src="../images/topbar_3.gif" name="Image14" width="155" height="20" border="0" /></a></td>
                        <td width="1" height="20" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="20" /></td>
                        <td width="155"><a href="4-1.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image15','','../images/topbar_4_over.gif',1)"><img src="../images/topbar_4.gif" name="Image15" width="155" height="20" border="0" /></a></td>
                        <td width="1" height="20" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="20" /></td>
                        <td width="154"><a href="5.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','../images/topbar_5_over.gif',1)"><img src="../images/topbar_5.gif" name="Image16" width="154" height="20" border="0" /></a></td>
                    </tr>
                </table>
            </td>
            <td width="1"><img src="../images/space.gif" width="1" height="1" /></td>
        </tr>
    </table>
    <table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="1"><img src="../images/space.gif" width="1" height="1" /></td>
        </tr>
    </table>
    <table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="1" height="15"><img src="../images/space.gif" width="1" height="15" /></td>
            <td width="155" bgcolor="#CCCCCC"><img src="../images/space.gif" width="1" height="15" /></td>
            <td width="624" align="right" class="navigation"><!-- InstanceBeginEditable name="nevigation" -->ASE Kaohsiung TOP > Quality Management &gt; Quality Certification<!-- InstanceEndEditable --></td>
        </tr>
    </table>
    <table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="1"><img src="../images/space.gif" width="1" height="1" /></td>
        </tr>
    </table>
    <table width="780" border="0" cellpadding="0" cellspacing="0">
        <tr>
            <td width="1" height="55"><img src="../images/space.gif" width="1" height="55" /></td>
            <td width="155" background="../images/ball_silver.gif">&nbsp;</td>
            <td width="624">&nbsp;</td>
        </tr>
    </table>
    <table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td height="1"><img src="../images/space.gif" width="1" height="1" /></td>
        </tr>
    </table>
    <table width="780" border="0" cellspacing="0" cellpadding="0">
        <tr>
            <td width="1" height="20"><img src="../images/space.gif" width="1" height="20" /></td>
            <td width="155" valign="top">
                <table width="155" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td bgcolor="#49B1BA"><img src="../images/title-total.gif" width="155" height="22" /></td>
                    </tr>
                    <tr>
                        <td><a href="4-1.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','../images/menu4-1over.gif',1)"><img src="../images/menu4-1.gif" name="Image28" width="155" height="22" border="0" /></a></td>
                    </tr>
                    <tr>
                        <td><a href="4-2.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','../images/menu4-2over.gif',1)"><img src="../images/menu4-2.gif" name="Image29" width="155" height="22" border="0" /></a></td>
                    </tr>
                    <tr>
                        <td><a href="4-3.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','../images/menu4-3over.gif',1)"><img src="../images/menu4-3.gif" name="Image30" width="155" height="22" border="0" /></a></td>
                    </tr>
                    <tr>
                        <td><a href="4-4.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image31','','../images/menu4-4over.gif',1)"><img src="../images/menu4-4.gif" name="Image31" width="155" height="22" border="0" /></a></td>
                    </tr>
                    <tr>
                        <td height="2"><img src="../images/space.gif" width="1" height="2" /></td>
                    </tr>
                    <tr>
                        <td height="15" background="../images/ball_silver.gif"><img src="../images/space.gif" width="1" height="15" /></td>
                    </tr>
                    <tr>
                        <td height="2"><img src="../images/space.gif" width="1" height="2" /></td>
                    </tr>
                    <tr>
                        <td><a href="../index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','../images/home_over.gif',1)"><img src="../images/home.gif" name="Image36" width="155" height="22" border="0" /></a></td>
                    </tr>
                    <tr>
                        <td><a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image37','','../images/contactinfo_over.gif',1)"><img src="../images/contactinfo.gif" name="Image37" width="155" height="21" border="0" /></a></td>
                    </tr>
                    <tr>
                        <td><a href="sitemap.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','../images/sitemap1_over.gif',1)"><img src="../images/sitemap1.gif" name="Image38" width="155" height="21" border="0" /></a></td>
                    </tr>
                </table>
            </td>
            <td width="54" valign="top"><img src="../images/space.gif" width="1" height="20" /></td>
            <td width="520" valign="top" class="content11">
                <table width="520" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td class="content18"><!-- InstanceBeginEditable name="Title" -->Quality Certification<!-- InstanceEndEditable --></td>
                    </tr>
                    <tr>
                        <td height="4"><img src="../images/ballline.gif" width="520" height="4" /></td>
                    </tr>
                </table>
                <br />
                <br />
                <br />
                @foreach (var item in Model)
                {
                    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
                        <tr>
                            <td colspan="2" valign="top"><span class="content14">@Html.Raw(item.Title)</span></td>
                            <td width="170" rowspan="2" align="right" valign="top"><a href="@item.File" target="_blank"><img src="@item.Image" width="160" height="226" vspace="7" border="0" /></a></td>
                        </tr>
                        <tr>
                            <td colspan="2" valign="top">
                                <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
                                    @foreach (var str in item.Content.Split('\n'))
                                    {
                                    <tr>
                                        <td width="15" valign="top">&#8226;</td>
                                        <td valign="top">@str</td>
                                    </tr>
                                    }
                                </table>
                            </td>
                        </tr>
                    </table>
                }
                <!-- InstanceBeginEditable name="Content" -->

                <br />
                <br />
                <table width="100%" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td align="right"><a href="#top"><img src="../images/top.gif" width="33" height="12" border="0" /></a></td>
                    </tr>
                </table>
                <!-- InstanceEndEditable --><br />
                <br />
                <table width="520" border="0" cellspacing="0" cellpadding="0">
                    <tr>
                        <td height="4"><img src="../images/ballline.gif" width="520" height="4" /></td>
                    </tr>
                    <tr>
                        <td height="4" align="right" class="copy">2008 ASE Kaohsiung, All rights reserved. <a href="http://www.aseglobal.com/content/termsofuse.htm" target="_blank"><font color="#999999">Terms of Use</font></a></td>
                    </tr>
                </table>
            </td>
            <td width="50" valign="top">&nbsp;</td>
        </tr>
    </table>
</body>
<!-- InstanceEnd --></html>

