﻿@charset "utf-8";

/* flash */
.flash{
	margin:0 auto;
}
.about{
	width:920px;
	display:block;
}


/* 首頁區 開始 */
/* banner */
.banner{
	width:184px;
	margin:29px 15px 0px 0px;
	float:left;
}
.banner ul{
}
.banner li{
	margin-bottom:13px;	
}
.banner li a{
	width:184px;
	border:solid 1px #fff;
	display:block;
}
.banner li a:hover{
	border:solid 1px #ef9b05;
	display:block;
}

/* news */
.index_main{
	width:370px;
	margin:0px 10px 0px 0px;
	float:left;
}
.news{
	width:370px;
	float:left;
}
.news a{
	display:block;
}
.news .category{
	padding:15px 0px 10px 0px;
	background:url(../Images/title_news.jpg) no-repeat left center;
	border-bottom:dotted 1px #c6c6c6;
}
.news .subject{
font-size:10px;
	text-align:left;
	color:#797979;
}
.news .item{
	font-size:10px;
	line-height:14px;
	text-align:left;
	color:#3d3d3d;
	padding-bottom:3px;
}

/* event */
.event{
	width:370px;
	float:left;
}
.event a{
	display:block;
}
.event .category{
	padding:10px 0px 10px 0px;
	background:url(../Images/title_events.jpg) no-repeat left center;
	border-bottom:dotted 1px #c6c6c6;
}
.event .subject{
	font-size:10px;
	text-align:left;
	color:#797979;
}
.event .item{
	font-size:10px;
	line-height:14px;
	text-align:left;
	color:#3d3d3d;
	padding-bottom:12px;
}

/* IR_News */
.ir_announcements{
	width:370px;
	float:left;
	margin:0px 10px 0px 0px;
}
.ir_announcements a{
	display:block;
}
.ir_announcements .category{
	padding:10px 0px 10px 0px;
	background:url(../Images/title_IRNews.jpg) no-repeat left center;
	border-bottom:dotted 1px #c6c6c6;
}
.ir_announcements .subject{
	font-size:10px;
	text-align:left;
	color:#797979;
}
.ir_announcements .item{
	font-size:10px;
	line-height:14px;
	text-align:left;
	color:#3d3d3d;
	padding-bottom:10px;
}


/* space */
.space{
	width:370px;
	float:left;
}
.space .category{
	padding:0px 0px 0px 0px;
}
.space li{
	padding:0px 0px 0px 0px;
	margin:0;
	height:10px;
}

/* map */
.map{
	width:340px;
	float:left;
}
.map .category{
	padding:15px 0px 15px 0px;
	background:url(../Images/title_aseworldwide.jpg) no-repeat left center;
}
/* 首頁區 結束 */


/* About單元 開始 */
.tableForm {
	margin-top:0px;
	margin-bottom:40px;
}
.tableForm td{
	padding:5px;
	font-size:10px;
	line-height:1.6em;
}
.tableForm th{
	padding:5px;
	font-size:10px;
	line-height:1.6em;
	border-bottom:#CCC 1px dotted;
}
.tableForm5 {
	margin-top:0px;
	margin-bottom:15px;
}
.tableForm5 td{
	padding:2px;
	font-size:11px;
	line-height:18px;
	font-family:Verdana;
}
.tableForm5 th{
	padding:5px;
	font-size:11px;
	line-height:18px;
	font-family:Verdana;
	border-bottom:#CCC 1px dotted;
}
/* Contact ASE */

#tagBlock{
	margin-top:18px;
}
#tagBlock #tagList{
	width:610px;
	padding-bottom:10px;
	background:url(../Images/about/about_frame.jpg) right bottom no-repeat;
}
#tagBlock #tagList #tagItem{
	width:610px;
	height:32px;
	background:url(../Images/about/about_frame.jpg) left 22px no-repeat;
}
#tagBlock #tagList #tagItem li{
	float:left;
	width:153px;
	height:25px;
	font-size:11px;
	margin-left:2px;
}
#tagBlock #tagList #tagItem li a{
	display:block;
	width:133px;
	height:22px;
	padding:3px 0 0 20px;
	background:url(../Images/about/about_tag.jpg) left bottom no-repeat;
}
#tagBlock #tagList #tagItem li a:hover,
#tagBlock #tagList #tagItem li a.current{
	color:#333;
	background:url(../Images/about/about_tag.jpg) left top no-repeat;
}
#tagBlock #tagList #tagItemList{
	clear:both;
	width:590px;
	background:url(../Images/about/about_frame.jpg) -610px 0 repeat-y;
	padding:20px 0 25px 20px;
}
#tagBlock #tagList #tagItemList table{
	
	width:570px;	
}
#tagBlock #tagList #tagItemList table td{
	vertical-align:top;
	font-size:11px;
}
#tagBlock #tagList #tagItemList table td a{	
	font-size:11px;
}
#tagBlock #tagList #tagItemList h5{
	font-weight:bold;
	margin-bottom:5px;
}

#tagBlock #tagList #tagItemList ul{	
	margin-bottom:39px;
}
#tagBlock #tagList #tagItemList ul li{	
	margin-bottom:3px;
}
#tagBlock #tagList #tagItemList ul li{	
	margin-bottom:3px;
}
#tagBlock #tagSample{
	width:610px;
	margin-top: 35px;
	margin-right: 0;
	margin-bottom: 20px;
	margin-left: 0;
}
#tagBlock #tagContent{	
	width:610px;	
}
#tagBlock #tagContent h2{
	margin-top:30px;
	margin-bottom:15px;
	
}
#tagBlock #tagContent table{
	width:610px;
	margin:0 0 15px;	
	border-top:#999 1px dotted;
}
#tagBlock #tagContent table td{
	padding:15px 2px 15px 10px;
	vertical-align:top;
}
#tagBlock #tagContent table td h5{
	font-size:10px;
	font-weight:bold;
}
#tagBlock #tagContent table td p{
	font-size:10px;
	line-height:14px;
}
#tagBlock #tagContent .top{
	float:none;
}


#tagBlock #tagItemList .bod{
	margin-bottom:20px;
}
#tagBlock #tagItemList .bod h5{
	font-weight:bold;
	margin-bottom:1px;
}
#tagBlock #tagItemList .bod p{
	font-size:10px;
	line-height:1.2em;
}
#tagBlock #tagItemList .bod td{
	border-bottom:#999 1px dotted;
	padding:15px 0;
}
#tagBlock #tagContent .bodContent{
	margin:15px 0 2px;	
	/*border:none;	
	border-bottom:#999 1px dotted;*/
}
#tagBlock h6 a{
	color:#F90;
	text-decoration:underline;
}
#tagBlock h6 a:hover{
	color:#F30;
	text-decoration:none;
}
/* Board of Director */
#Board_content{
	width:620px;	
}
ul.Board_list{
	margin-top:13px;
}
ul.Board_list li{
color:#3d3d3d;
	font-size:11px;
	margin:0px 0 30px 0;
}
.Board_list_con{
	font-size:11px;
	margin:-10px 0 15px 0;
	color:#3d3d3d;
	line-height:18px;
	padding-bottom:15px;
	border-bottom:#999 1px dotted;
}
.Board_list_subject{		
	margin-bottom:13px;
	color:#000;
	line-height:18px;
}
.Board_list_subject span{
	color:#3d3d3d;
}
.Board_list_subject .title1 a{
color:#3d3d3d;
	font-weight:bold;
	display:block;
	line-height:20px;
	color:#000;	
}
.Board_list_subject .title1 a:link,
.Board_list_subject .title1 a:active,
.Board_list_subject .title1 a:visited{
	color:#3d3d3d;
	background-image:url(../Images/icon_Plus.gif);
	background-position:right;
	background-repeat:no-repeat;
}
.Board_list_subject .title1 a:hover,
.Board_list_subject .title1 a:hover span{	
	color:#fa9600;
	font-weight:bold;
	background-image:url(../Images/icon_Plus1.gif); 
	background-position:right;
	background-repeat:no-repeat;
}
.Board_list_subject .title2 a{
color:#666666;
	font-weight:bold;
	display:block;
	line-height:20px;
	color:#000;	
}
.Board_list_subject .title2 a:link,
.Board_list_subject .title2 a:active,
.Board_list_subject .title2 a:visited{
	color:#666666;
	font-weight:bold;
	line-height:20px;
	background-image:url(../Images/icon_Cut.gif);
	background-position:right;
	background-repeat:no-repeat;
}
.Board_list_subject .title2 a:hover,
.Board_list_subject .title2 a:hover span{	
	color:#fa9600;
	font-weight:bold;
	background-image:url(../Images/icon_Cut1.gif); 
	background-position:right;
	background-repeat:no-repeat;
}
/* Manufacturing Facilities */
.mfSection{
	width:635px;
	padding-bottom:25px;
	background:url(../Images/about/line.jpg) left bottom no-repeat;
	position:relative;
}
.mfSection h2{
	padding:0 0 25px 35px;
	font-weight:normal;
}
.mfSection .mfPoplink{
	position:absolute;
	top:3px;
	right:24px;
}
.mfSection .mfPic{
	position:absolute;
	top:48px;
	left:35px;
}
.mfSection .mfInfo{	
	padding:0 30px 25px 200px;
	font-size:11px;
}
.mfSection .mfInfo h5{
	margin-top:26px;
	font-weight:bold;
	color:#262520;
}
.mfSection .mfInfo p{
	font-size:11px;
}

#mfPopContent{
	padding:70px;
	width:500px;
	position:relative;
	font-size:11px;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}
#mfPopContent #close{
	position:absolute;
	top:26px;
	right:46px;
}
#mfPopContent h2{
	margin:0;
	padding:0 5px;
	font-size:11px;
	font-weight:bold;
}
#mfPopContent ul#mfData{
	width:490px;
	font-size:11px;
	text-align:left;
	border-bottom:#7d92d3 1px solid;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 27px;
	margin-left: 0;
	padding-top: 0;
	padding-right: 5px;
	padding-bottom: 26px;
	padding-left: 5px;
}
#mfPopContent ul#mfData li{
	font-size:11px;
}
#mfPopContent ul#mfData li strong{
	font-weight:bold;
}
#mfPopContent .maps{	
	margin-bottom:35px;
	text-align:left;
}

#mfPopContent .mfDetail{
	margin-bottom:50px;
}
#mfPopContent .mfDetail p{
	padding:0 5px;
	margin:12px 0;
	text-align:left;
	font-size:11px;
	color:#3d3d3d;
}


/* Milestones */
#Milestones_content{width:620px;margin-top: 13px;}

#Milestones_content .Milestones_year{height:58px; text-align:left; background-repeat: repeat-x; cursor:pointer;}

#Milestones_content .Milestones_subject1, #Milestones_content .Milestones_subject2, #Milestones_content .Milestones_subject3, #Milestones_content .Milestones_subject4, #Milestones_content .Milestones_subject5, #Milestones_content .Milestones_subject6, #Milestones_content .Milestones_subject7 {
	height: auto; padding: 0px 60px 0px 112px;
	font-size:11px; color:#000000; text-align: left; line-height:18px;
	background: url(../Images/about/milestones_line01.jpg) 0 0 repeat-y;
}
#Milestones_content .Milestones_subject2{background: url(../Images/about/milestones_line02.jpg) 0 0 repeat-y;}
#Milestones_content .Milestones_subject3{background: url(../Images/about/milestones_line03.jpg) 0 0 repeat-y;}
#Milestones_content .Milestones_subject4{background: url(../Images/about/milestones_line04.jpg) 0 0 repeat-y;}
#Milestones_content .Milestones_subject5{background: url(../Images/about/milestones_line05.jpg) 0 0 repeat-y;}
#Milestones_content .Milestones_subject6{background: url(../Images/about/milestones_line06.jpg) 0 0 repeat-y;}
#Milestones_content .Milestones_subject7{background: url(../Images/about/milestones_line07.jpg) 0 0 repeat-y;}

#Milestones_content .Milestones_subject1_title, #Milestones_content .Milestones_subject2_title, #Milestones_content .Milestones_subject3_title, #Milestones_content .Milestones_subject4_title, #Milestones_content .Milestones_subject5_title, #Milestones_content .Milestones_subject6_title, #Milestones_content .Milestones_subject7_title{
	padding:10px 0 0 14px;
	font-size:14px;color:#bd013c;line-height:28px;text-align: left;font-weight: bold; text-indent:0;
	font-family:Verdana;
}
#Milestones_content .Milestones_subject2_title{color:#f0870a;}
#Milestones_content .Milestones_subject3_title{color:#f69c10;}
#Milestones_content .Milestones_subject4_title{color:#018cd1;}
#Milestones_content .Milestones_subject5_title{color:#02489d;}
#Milestones_content .Milestones_subject6_title{color:#25228b;}
#Milestones_content .Milestones_subject7_title{color:#df1f00;}

#Milestones_content .Milestones_subject1_list, #Milestones_content .Milestones_subject2_list, #Milestones_content .Milestones_subject3_list, #Milestones_content .Milestones_subject4_list, #Milestones_content .Milestones_subject5_list, #Milestones_content .Milestones_subject6_list, #Milestones_content .Milestones_subject7_list{
	padding-left: 14px; list-style:none;
	font-size:11px; color:#000000; line-height:18px; text-align: left; font-weight: normal; text-indent :0;
	font-family:Verdana;
	background: url(../Images/about/milestones_dot1.jpg) 0 3px no-repeat;
}
#Milestones_content .Milestones_subject2_list{background: url(../Images/about/milestones_dot2.jpg) 0 3px no-repeat;}
#Milestones_content .Milestones_subject3_list{background: url(../Images/about/milestones_dot3.jpg) 0 3px no-repeat;}
#Milestones_content .Milestones_subject4_list{background: url(../Images/about/milestones_dot4.jpg) 0 3px no-repeat;}
#Milestones_content .Milestones_subject5_list{background: url(../Images/about/milestones_dot5.jpg) 0 3px no-repeat;}
#Milestones_content .Milestones_subject6_list{background: url(../Images/about/milestones_dot6.jpg) 0 3px no-repeat;}
#Milestones_content .Milestones_subject7_list{background: url(../Images/about/milestones_dot7.jpg) 0 3px no-repeat;}


/* About單元 結束 */

/* Products單元 開始 */
/* 產品子選單*/
.main-left .submenu{
    font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	
	color:#3d3d3d;	
	display:block;
	background:none;
	height:23px;	
	border-bottom:dotted 1px #cecece;
}
.main-left .submenu a{
	padding-left:13px;
font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	height:23px;
	color:#3d3d3d;
	border-bottom:dotted 1px #cecece;
	background:none;
	display:block;
}
.main-left .submenu a:hover{
	color:#f98307;
	background:none;
	background-color:#ffdbab;
	display:block;
}
.main-left .submenu1{
    font-family:Verdana;
	font-size:10px;	
	color:#3d3d3d;	
	display:block;
	background:none;
}
.main-left .submenu1 a{
    font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	color:#3d3d3d;
	padding:3px 0px 3px 24px;
	border-bottom:dotted 1px #cecece;
	background:none;
	display:block;
}
.main-left .submenu1 a:hover{
	color:#f98307;
	background:none;
	background-color:#ffdbab;
	display:block;
}
.main-left .end{
	margin-bottom:15px;
}

/* Products內容 */
.main-center .title span{
	font-weight:normal;
}
.products h6{
	margin-bottom:20px;
}
.products h6 a{
	color:#F90;
	text-decoration:none;
}
.products h6 a:hover{
	color:#F30;
	text-decoration:underline;
}
.products h6.note{
	font-size:12px;
	letter-spacing:-1px;
	margin-bottom:40px;
}
h6 strong{
	font-weight:bold;
}
.products ul{
	margin:10px 0 15px 0;
}
.products ul li{
	color:#F90;
	font-size:12px;
	line-height:20px;
	list-style-type:disc;
	list-style-position:inside;
}
.products ul a{
	color:#F90;
	text-decoration:none;
}
.products ul a:hover{
	color:#F30;
	text-decoration:underline;
}
.products .tableForm {
	color:#3d3d3d;
	margin-top:10px;
	margin-bottom:20px;
}
.products .tableForm td{
	padding:5px;
	font-size:10px;
	line-height:1.6em;
}
.products .tableForm th{
	padding:5px;
	font-size:10px;
	line-height:1.6em;
	border-bottom:#CCC 1px dotted;
}
.products .tableForm2 {
margin-top:2px;}
.products .tableForm2 td{
	padding:2px;
	color:#3d3d3d;
	font-size:11px;
	line-height:18px;
}
.products .tableForm2 th{
	padding:2px;
	color:#3d3d3d;
	font-size:11px;
	line-height:18px;
}
.text11_18{
	font-size:11px;
	line-height:18px;
	text-align:left;
	color:#999;
}

.text11_18 strong{
	font-weight:bold;
}
.title-gray{
	font-size:11px;
	font-family:Verdana;
	line-height:18px;
	font-weight: bold;
	margin-top: 10px;
	margin-bottom: -5px;
}
.text-gray{
	font-size:11px;
	line-height:18px;
	margin-top: 10px;
	margin-bottom: -5px;
}
/* Products單元 結束 */


/* NewsEvent單元 開始 */
/* news */
#news_content{
	width:410px;
	position:relative;
}
#news_content hr{
	border-top:dotted 1px #999999;
	border-bottom:hidden;
	border-left:hidden;
	height:1px;
	margin:10px 0 -8px 0;
	padding:0;
}
#news_content p{
	margin:18px 0 0 0;
	padding:0;
	font-size:10px;
	font-family:Verdana;
	line-height:18px;
}
#news_content table{
	margin:18px 0 0 0;
	padding:0;
}
#news_content h6 a{
	color:#F90;
	text-decoration:none;
}
#news_content h6 a:hover{
	color:#F30;
	text-decoration:underline;
}
/* news 基本連絡資料 */
.PressRoom_content_info{
	position:absolute;
	top:2px;
	right:-225px;
	width:197px;	
	float:left;
}
.PressRoom_content_info .PressRoom_content_info_top{
	height:40px;
	background:url(../Images/news/PressRoom_info_title.jpg) left top no-repeat;
}
.PressRoom_content_info .PressRoom_content_info_main{
	padding:0px 10px 0 14px;
	margin:-18px 0 0 0;
	width:175px;
	height:100%;
	background:url(../Images/news/PressRoom_info_main.jpg) repeat-y;

}
.PressRoom_content_info_main .PressRoom_content_info_main_table{
	clear:both;
	background-image:none;
	text-align:left;
	font-size:10px;
	color:#666666;
	font-family:Verdana;
	line-height:14px;
	margin-top:-36px;
}
.PressRoom_content_info_main .PressRoom_content_info_main_table th{
	text-align:left;
	font-size:11px;
	color:#666666;
	font-family:Verdana;
	line-height:14px;
	font-weight:bold;	
}
.PressRoom_content_info .PressRoom_content_info_down{
	height:28px;
	background:url(../Images/news/PressRoom_info_down.jpg) left top no-repeat;
}
/* news年份搜尋 */
#year_search{
	margin-top:18px;
	margin-bottom:27px;
	color:#4c4c4c;
}
#year_search span{
	margin-right:10px;
}
/* #year_search a{
	display:inline-block;
	margin:0 5px;
	padding:0 0 2px 20px;
	background:url(../Images/news/news_year.jpg) left 1px no-repeat;
	width:50px;
	height:19px;
} */
#year_search select{
	border:#999 1px solid;
	height:17px;
	width:70px;
	text-align:center;
	font-size:11px;
	color:#666;
}


/* news列表
ul.news_list{margin-bottom:-30px;}
ul.news_list li{
	font-size:11px;
	position:relative;
	min-height:30px;
	margin-bottom:38px;
}
.news_list_date{
	position:absolute;
	left:2px;
	top:0;
	line-height:1.3em;
	color:#3d3d3d;
}
.news_list_subject{	
	position:absolute;
	left:102px;
	top:0;
	font-weight:bold;
	line-height:1.3em;
	color:#3d3d3d;
}
 */
#news_content .news_list{}
#news_content .news_list li{float:left; display:block; font-size:11px; margin-bottom:20px;}
#news_content .news_list_date{ float:left; width:100px; color:#3d3d3d;}
#news_content .news_list_subject{}

#news_content .news_list li a{ float:left; display:block; width:300px; font-weight:bold; color:#3d3d3d;}
#news_content .news_list li a:hover, #news_content .news_list li a:hover span{color:#fa9600;}

/* news內頁 */
h2.news_subject{	
	line-height:24px;
	padding-bottom:0px;
	color:#859ce0;
}
h4.news_title{
	padding:18px 0 0 0;
	margin:12px 0 10px 0;
	font-weight:bold;
	color:#3b3b3b;
	line-height:30px;
	border-bottom:dotted 1px #999999;
	margin-bottom:30px;
}
h6.news_Data_blue{
	padding:0 0 10px 0;
	margin:2px 0 16px 0;
	font-weight:bold;
	color:#859ce0;
}
h6.news_date{	
	font-size:10px;
	color:#666;
	margin-bottom:-1px;
}
h6.news_intro{	
	font-size:11px;
	color:#3d3d3d;
	font-family:Verdana;
	line-height:18px;
	margin-bottom:30px;
}
table.table_text_10{
	font-size:10px;
	color:#666;
	margin-top:-14px;
}
table.news_info{
	border-left:#999 1px solid;
	border-top:#999 1px solid;
}
table.news_info td{
	font-size:10px;
	color:#666;
	line-height:1.4em;
	border-right:#999 1px solid;
	border-bottom:#999 1px solid;
	padding:2px 0 2px 3px;
}
table.news_info td strong{
	font-weight:bold;
}
table.news_info td a{
	letter-spacing:-1px;
}

/* event */
#event_content{
	width:420px;	
}
ul.event_list{
	margin-top:10px;
	margin-bottom:0px;
}
ul.event_list li{
	font-size:11px;
	line-height:18px;
}
.event_list_date{
	color:#3d3d3d;
	width: 93px;
	float: left;
	padding-right: 6px;
}
.event_list_subject{
	font-weight:bold;
	margin-bottom:20px;
	color:#666;
	float: left;
	width: 300px;
	padding-right: 20px;
	/* padding-right: 30px; */
}
.event_list_subject span{
	font-weight:normal;
	color:#3d3d3d;
}
.event_list_subject a{
	display:block;	
}
.event_list_subject a:link,
.event_list_subject a:active,
.event_list_subject a:visited{
	color:#3d3d3d;
}
.event_list_subject a:hover,
.event_list_subject a:hover span{	
	color:#fa9600;
}
/* event_item 控制event內容的顯示,h1:說明文,h2:Location之類內容(齊標題尾),h3:Speech之類內容(齊頭) */
.event_item{}
.event_item h1, .event_item h2, .event_item h3{clear:both; font-weight:normal; font-size:11px; color:#3d3d3d; margin:0; padding:0; border:0; line-height:16px;}
.event_item h1, .event_item .h3{ margin-bottom:4px;}
.event_item .h2{ margin-bottom:8px;}
.event_item h2{ float:left; margin-right:3px;}
.event_item .h2{float:left; margin-right:3px;}
.event_item .h3{width:220px;}
.event_item .h2 li, .event_item .h3 li{line-height:16px;}


/* calendar */
.main-center{
	position:relative;
}

.calendar{
	position:absolute;
	top:50px;
	right:0;
	width:216px;
	height:188px;
	text-align:center;
	background:url(../Images/news/calendar_bg.jpg) left top no-repeat;
}
.calendar table{
	width:210px;
	font-size:10px;
}
.calendarhead{
	font-size:11px;
	text-align:center;
	padding-top:3px;
	height:26px;	
}
.calendar table th{
	font-size:9px;
	font-weight:bold;
	text-align:center;
	color:#FFF;
	background-color:#7D91D1;
	padding:3px;
	width:24px;
}
.calendar table td{
	font-size:10px;
	text-align:center;
	padding:1px 3px;
	width:24px;
}
.calendar table td a{
	color:#F60;
}
.calendar table td a:hover{
	color:#F00;
	text-decoration:underline;
}

/* NewsEvent單元 結束 */

/* Services內容 */
.services_subject{
	font-size:13px;
	font-weight:bold;
	color:#000000;
	clear: both;
}
.services h6 a{
	color:#F90;
	text-decoration:none;
}
.services h6 a:hover{
	color:#FFF;
	text-decoration:underline;
}
.h6 strong{
	font-weight:bold;
}
.services ul{
	margin:10px 0 15px 0;
}
.services ul li{
	font-size:11px;
	list-style-type:decimal;
	list-style-position:inherit;
	margin-left: 30px;
}
.tableForm1 td{
	font-size:11px;
	line-height:18px;
	font-family:Verdana;
}
/*.services ul.ABC li{
	list-style-type:upper-latin;
}*/
.services ul a{
	color:#F90;
	text-decoration:underline;
}
.services ul a:hover{
	color:#F30;
	text-decoration:none;
}
.servicesTable{
	margin:0px;
	border:none;
	border-top:#999 1px dotted;
	clear: both;
}
.services2 ul{
	margin:10px 0 15px 0;
}
.services2 ul li{
	color:#F90;
	font-size:10px;
	list-style-type:disc;
	list-style-position:inside;
}
.services2 ul a{
	color:#F90;
	text-decoration:none;
}
.services2 ul a:hover{
	color:#F30;
	text-decoration:underline;
}


/* Services單元 結束 */

/* Contact內容 */

#tagBlock2{
	margin-top:18px;
	
}
#tagBlock2 #tagList{
	width:610px;
	padding-bottom:10px;
	background:url(../Images/about/about_frame.jpg) right bottom no-repeat;
}
#tagBlock2 #tagList #tagItem{
	width:610px;
	height:32px;
	background:url(../Images/about/about_frame.jpg) left 22px no-repeat;
}
#tagBlock2 #tagList #tagItem li{
	float:left;
	width:118px;
	height:25px;
	font-size:11px;
	font-family: Verdana;
	margin-left:2px;
}
#tagBlock2 #tagList #tagItem li a{
	display:block;
	width:119px;
	height:22px;
	padding:3px 0 0 6px;
	background:url(../Images/contact/contact_tag.jpg) left bottom no-repeat;
}
#tagBlock2 #tagList #tagItem li a:hover,
#tagBlock2 #tagList #tagItem li a.current{
	color:#333;
	background:url(../Images/contact/contact_tag.jpg) left top no-repeat;
}
#tagBlock2 #tagList #tagItemList{
	clear:both;
	width:590px;
	background:url(../Images/about/about_frame.jpg) -610px 0 repeat-y;
	padding:20px 0 25px 20px;
}
#tagBlock2 #tagList #tagItemList table{
	
	width:570px;	
}
#tagBlock2 #tagList #tagItemList table td{
	vertical-align:top;
	font-size:12px;
	font-family:Verdana;
}
#tagBlock2 #tagList #tagItemList table td a{	
	font-size:12px;
	font-family:Verdana;
}
#tagBlock2 #tagList #tagItemList h5{
	font-weight:bold;
	margin-bottom:25px;
}

#tagBlock2 #tagList #tagItemList ul{	
	margin-bottom:39px;
}
#tagBlock2 #tagList #tagItemList ul li{	
	margin-bottom:3px;
}
#tagBlock2 #tagList #tagItemList ul li{	
	margin-bottom:3px;
}
.contact h6 a{
	font-size:12px;
	font-family:Verdana;
	color:#F90;
	text-decoration:underline;
}
.contact h6 a:hover{
	color:#F30;
	text-decoration:none;
}
.h6 strong{
	font-weight:bold;
}
.contact_title01{
	font-size:40px;
	font-family:Verdana;
	font-weight:bold;
	color:#F90;
	clear: both;
}
.contact_title02{
	font-size:13px;
	font-family:Verdana;
	font-weight:bold;
	color:#3D3D3D;
	clear: both;
}
.contact_title03{
	font-size:15px;
	font-family:Verdana;
	font-weight:bold;
	color:#000000;
	clear: both;
}

/* Contact單元 結束 */

/* Technology內容 */
.technology h2 a {
	text-decoration:none;
	color:#F90;
}
.technology h2 a:visited {
	text-decoration:none;
	color:#F90;
}
.technology h2 a:hover {
	text-decoration:underline;
	color:#F30;
}
.technology h6 a{
	color:#F90;
	text-decoration:underline;
}
.technology h6 a:hover{
	color:#F30;
	text-decoration:none;
}
.h6 strong{
	font-weight:bold;
}

/* Technology單元 結束 */


/* Investor Relations內容 */
.twoColumn td{
	padding-right:10px;
}

h2.line{
	padding-bottom:11px;
	border-bottom:#bcbcbc 1px dotted;
}
.orange{
	color:#ef9b05;
}
.section_right{
	margin-left:5px;
	margin-bottom:20px;
}
.section_right ul.event_list{
	clear:both;
	margin-top:0;
	margin-bottom:10px;
}
.section_right .event_list_subject{
	font-weight:normal;	
	margin-bottom:10px;
	color:#666;
}
.section_left{
	margin-right:5px;
	margin-bottom:20px;
}
.section_left ul.event_list{
	clear:both;
	margin-top:0;
	margin-bottom:10px;
}
.section_left .event_list_subject{
	font-weight:normal;	
	margin-bottom:10px;
	color:#666;
}
.form{
	clear:both;
	font-size:11px;
}
.form th{
	padding:2px;
	border-bottom:#d8d8d8 1px dotted;
	font-size:11px;
	font-weight:bold;
}
.form td{
	font-size:11px;
	padding:2px;
}
.picform{
	clear:both;
}
.picform h5{
	font-size:11px;
	font-weight:bold;
	color:#262520;
}
.picform p{
	color:#3d3d3d;
	font-size:11px;
}
table.twoColumn td .picform  a{
	text-decoration:none;
	color:#ef9b05;
}
table.twoColumn td .picform  a:hover{
	text-decoration:underline;
	color:#ef9b05;
}
.main-center #searchBar{
	width:300px;
	height:20px;
	text-align:left;	
	float:right;
	position:relative;
}
.main-center #searchBar input{
	width:150px;
	height:18px;
	color:#666;
	font-size:10px;
	padding:0 2px 0 10px;
	border:#d9d9d9 1px solid;
	border-right:none;
}
.main-center #searchBar #zoom{
	position:absolute;
	top:0;
	left:160px;
}
.main-center #searchBar #zoom a{
	display:block;
	width:20px;
	height:18px;
	border-bottom:#d9d9d9 1px solid;
	border-top:#d9d9d9 1px solid;
	border-right:#d9d9d9 1px solid;
	text-indent:-9999px;
	background:#FFF url(../Images/btn_search.gif) no-repeat center;
}
.main-center #searchBar #zoom a:hover{
	background:url(../Images/btn_search_a.gif) no-repeat center;
}
.main-center #searchBar #rss{
	position:absolute;
	top:3px;
	left:200px;
}
.main-center #searchBar #ch{
	position:absolute;
	top:3px;
	left:250px;
}

/* Investor Relations單元 結束 */


/* Careers內容 */
.careers_subject{
	font-size:13px;
	font-weight:bold;
	color:#000000;
	clear: both;
}
.careers h6 a{
	color:#F90;
	text-decoration:underline;
}
.careers h6 a:hover{
	color:#F30;
	text-decoration:none;
}
.h6 strong{
	font-weight:bold;
}

.h6 orange{
	color:#F90;
}

.careers ul{
	margin:10px 0 15px 0;
}
.careers ul li{
	color:#3d3d3d;
	font-size:12px;
	font-family:Verdana;
	list-style-type:decimal;
	list-style-position:inherit;
	margin-left: 30px;
}

.careers ul a{
	color:#F90;
	text-decoration:underline;
}
.careers ul a:hover{
	color:#F30;
	text-decoration:none;
}

/* Careers單元 結束 */


/* Sitemap內容 */
.sitemap_twoColumn td{
	padding-right:10px;
}

h2.line{
	padding-bottom:11px;
	border-bottom:#bcbcbc 1px dotted;
}
.orange{
	color:#ef9b05;
}
.sitemap_left{
	margin-right:10px;
	margin-bottom:20px;
}
.sitemap_left ul.list{
	clear:both;
	margin-top:10px;
	margin-bottom:10px;
}
.sitemap_left ul.list li{
	font-weight:normal;	
	font-size:11px;
	color:#3d3d3d;
	line-height:18px;
}

.sitemap_right{
	margin-left:10px;
	margin-bottom:20px;
}
.sitemap_right ul.list{
	clear:both;
	margin-top:10px;
	margin-bottom:10px;
}
.sitemap_right ul.list li{
	font-weight:normal;	
	font-size:11px;
	color:#3d3d3d;
	line-height:18px;
}

/* Sitemap單元 結束 */


/* Csr內容 */
.csr_news h2{
	color:#7a92dc;
}
.csr h6 a{
	color:#F90;
	text-decoration:underline;
}
.csr h6 a:hover{
	color:#F30;
	text-decoration:none;
}
.h6 strong{
	font-weight:bold;
}

.h6 orange{
	color:#F90;
}

.years_title{
	font-size:14px;
	text-align:left;
	color:#6679C1;
}

.csr_content {
	width:395px;
	position:relative;
	margin: 0;	
	padding:0px 25px 0px 0px;
	float: left;
}
.csr_content h6 a{
	color:#F90;
	text-decoration:underline;
}
.csr_content h6 a:hover{
	color:#F30;
	text-decoration:none;
}

.csr {
	float: left;
	width:635px;
	position:relative;
	padding-top:15px;
	z-index:300;
}

.csr_movie {
	width:320px;
	position:relative;
	margin:0px;
	padding:0px;
	float: left;	
}

.csr .tableForm {
	color:#3d3d3d;
	margin-top:10px;
	margin-bottom:40px;
}
.csr .tableForm td{
	padding:5px;
	font-size:12px;
	line-height:18px;
}

.csr .tableForm1 {
	margin-top:10px;	
	margin-bottom:10px;
}
.csr .tableForm1 td{
	font-size:11px;
	line-height:18px;
	font-family:Verdana;
}

.csr .tableForm2 {
	margin-bottom:25px;
}
.csr .tableForm2 td{
	font-size:11px;
	font-weight:normal;
	line-height:18px;
	font-family:Verdana;
}

.csr .tableForm3 {
	margin-top:10px;	
	margin-bottom:20px;
}
.csr .tableForm3 td{
	font-size:12px;
	line-height:18px;
	font-family:Verdana;
}
.csr .tableForm3 a{
	font-size:14px;
	line-height:26px;
	font-family:Verdana;
	color:#F90;
	text-decoration:underline;
}
.csr .tableForm3 a:hover{
	color:#F30;
	text-decoration:none;
}

.csr_title{
	font-size:14px;
	text-align:left;
	color:#3d3d3d;
	font-weight: bold;
}
.content{
	font-size:12px;
	line-height:18px;
	font-family:Verdana;
	color:#3d3d3d;
}
.content_bold{
	font-size:12px;
	line-height:18px;
	font-weight:bold;
	font-family:Verdana;
	color:#3d3d3d;
}
.csr_banner{
	float:left;
	width:201px;
	height:160px;
	padding-right:15px;
	text-align:left;
	padding-bottom:40px;
}
.csr_banner1{
	float:left;
	width:203px;
	height:160px;
	text-align:center;
	padding-bottom:40px;
}
.csr_banner2{
	float:left;
	width:201px;
	height:160px;
	padding-left:15px;
	text-align:left;
	padding-bottom:40px;
}
.csr_banner4{
	float:left;
	width:108px;
	height:160px;
	text-align:left;
	padding-bottom:40px;
}
.csr_banner5{
	float:left;
	width:13px;
	height:160px;
	text-align:left;
	margin-top:17px;
}
.csr_layer{
	width:635px;
	padding-top:30px;
	position:static;
}
.csr_layer h6 a{
	color:#F90;
	text-decoration:underline;
}
.csr_layer h6 a:hover{
	color:#F30;
	text-decoration:none;
}
.csr_content9{
	font-size:50px;
	text-align:left;
	font-family:Verdana;
	color:#666666;
}

/* CSR 新版頁面 */
.csr_news{
	width:635px;
	position:relative;
	padding:0px;
	float: left;
}
.csr_news_left{
	font-size:15px;
	font-weight:bold;
	line-height:20px;
	color:#333333;
}
.csr_news_right{
	width:545px;
	font-size:12px;
	color:#F90;
    line-height:25px;
	position: relative;
	margin: 0px 0px 0px 0px;
	padding: 5px 5px 5px 0px;
	float:left;
}
.csr_c_content{
	width:400px;
	position:relative;
}
.csr_c_content_info{
	width: 203px;
	position: relative;
	margin: 15px 0px 0px 0px;
	padding:0px;
	float: left;
}
.csr_c_content_info .csr_c_content_info_top{
	padding:10px 10px 0 12px;
	height:25px;
	text-align:left;
	font-size:12px;
	color:#000000;
	font-family:Verdana;
	font-weight:bold;
	line-height:18px;
	background:url(../Images/csr/CSR_info_title.jpg) left top no-repeat;
}
.csr_c_content_info .csr_c_content_info_main{
	padding:6px 10px 0 12px;
	margin: 0;
	width:181px;
	height:110px;
	text-align:left;
	font-size:11px;
	color:#666666;
	font-family:Verdana;
	font-weight:normal;
	line-height:18px;
}
.csr_c_content_info .csr_c_content_info_main a{
	font-size:11px;
	color:#666666;
	text-decoration:none;
}
.csr_c_content_info .csr_c_content_info_main a:hover{
	font-size: 11px;
	color: #F90;
	text-decoration:none;
}
.csr_c_content_info .csr_c_content_info_main_1{
	padding:0px 10px 0 12px;
	margin: 0;
	width:181px;
	text-align:left;
	font-size:11px;
	color:#666666;
	font-family:Verdana;
	font-weight:normal;
	line-height:18px;
}
.csr_c_content_info_main .csr_c_content_info_main_table{
	clear:both;
	background-image:none;
	text-align:left;
	font-size:10px;
	color:#666666;
	font-family:Verdana;
	line-height:14px;
	margin-top:0px;
}
.csr_c_content_info_main .csr_c_content_info_main_table th{
	text-align:left;
	font-size:11px;
	color:#666666;
	font-family:Verdana;
	line-height:14px;
	font-weight:bold;	
}
.csr_c_content_info .csr_c_content_info_down{
	height:14px;
	background:url(../Images/csr_c/CSR_info_down.jpg) left top no-repeat;
}
.csr_c_h2{
	font-size:15px;
	text-align:left;
	color:#3d3d3d;
	font-weight:bold;
	font-family:Verdana;
}

.csr_c_h6{
	font-size:12px;
	text-align:left;
	font-family:Verdana;
}
/* Csr單元 結束 */

/* Supplier Section */
.SupplierSection{
	width: 520px;
	text-align: left;
	float: left;
	padding-top: 30px;
	padding-right: 0px;
	padding-bottom: 30px;
	padding-left: 0px;
}
.SupplierSection .menu{
	font-family: Verdana;
	font-size:13px;
	font-weight:bold;
	height:23px;
	color:#3d3d3d;
	display:inline;
}
.SupplierSection .menu a{
	font-family: Verdana;
	font-size:13px;
	font-weight:bold;
	height:23px;
	color:#3d3d3d;
	border-top:dotted 1px #cecece;
	border-bottom:dotted 1px #cecece;
	display:inline;
	padding:5px 18px 5px 18px;
	margin-right:5px;
}
.SupplierSection .menu a:hover{
	font-family: Verdana;
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	background-color:#F90;
	display:inline;
}
.SupplierSection .menu1{
	font-family: Verdana;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	height:23px;
	background-color:#F90;
	border-top:dotted 1px #cecece;
	border-bottom:dotted 1px #cecece;
	display:inline;
	padding:5px 18px 5px 18px;
	margin-right:5px;
	display:inline;
}
.SupplierSection .menu2{
	font-family: Verdana;
	font-size:13px;
	font-weight:bold;
	height:23px;
	color:#3d3d3d;
	display:inline;
}
.SupplierSection .menu2 a{
	font-family: Verdana;
	font-size:13px;
	font-weight:bold;
	height:23px;
	color:#3d3d3d;
	border-top:dotted 1px #cecece;
	border-bottom:dotted 1px #cecece;
	display:inline;
	padding:5px 38px 5px 38px;
	margin-right:5px;
}
.SupplierSection .menu2 a:hover{
	font-family: Verdana;
	font-size:13px;
	font-weight:bold;
	color:#ffffff;
	background-color:#F90;
	display:inline;
}
.SupplierSection .menu3{
	font-family: Verdana;
	font-size:13px;
	font-weight:bold;
	color:#FFFFFF;
	height:23px;
	background-color:#F90;
	border-top:dotted 1px #cecece;
	border-bottom:dotted 1px #cecece;
	display:inline;
	padding:5px 38px 5px 38px;
	margin-right:5px;
	display:inline;
}
