.link-white {
	font-size: 12px;
	line-height: 14px;
	color: #FFFFFF;
	text-decoration: none;
	font-weight: bold;
	cursor: hand;
}
.copyright {
	font-size: 10px;
	color: #FFFFFF;
	text-decoration: none;
}
.content10b {
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	font-weight: bold;
}
.jumpmenu {
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}
.content12b {
	font-size: 12px;
	font-weight: bold;
	color: #575757;
	text-decoration: none;
	line-height: 18px;
}
.content10 {
	font-size: 10px;
	color: #666666;
	text-decoration: none;
	line-height: 15px;
}
.orange10 {
	font-size: 10px;
	line-height: 15px;
	color: #FF7D00;
	text-decoration: none;
}
.orange12b {
	font-size: 12px;
	font-weight: bold;
	color: #FF7D00;
	text-decoration: none;
}
.navigation {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #666666;
	text-decoration: none;
}
.content14b {
	font-size: 14px;
	font-weight: bold;
	color: #333333;
	text-decoration: none;
}
.content18 {
	font-size: 18px;
	color: #333333;
	text-decoration: none;
	line-height: 36px;
	font-weight: bold;
}
.content11 {
	font-size: 11px;
	line-height: 15px;
	color: #666666;
	text-decoration: none;
}
.copy {
	font-size: 9px;
	color: #999999;
	text-decoration: none;
}
.content11w {
	font-size: 11px;
	line-height: 15px;
	color: #FFFFFF;
	text-decoration: none;
}
.content11r {
	font-size: 11px;
	line-height: 15px;
	color: #CC0000;
	text-decoration: none;
}
.content14 {
	font-size: 14px;
	line-height: 26px;
	color: #333333;
}
.content11b {
	font-size: 11px;
	line-height: 17px;
	font-weight: bold;
	color: #575757;
}
a:link {
	color: #990000;
	text-decoration: none;
}
a:hover {
	background-color: #666666;
	color: #FFFFFF;
	text-decoration: none;
}

a:active {
	color: #FFFFFF;
	text-decoration: none;
}
a:visited {
	color: #993333;
	text-decoration: none;
}
.content12w {
	font-size: 12px;
	line-height: 16px;
	text-decoration: none;
	color: #FFFFFF;
}
.content12 {
	font-size: 12px;
	line-height: 16px;
	color: #666666;
}
