@charset "utf-8";
/* 初始化 */
body {
	margin: 40px;
	-webkit-text-size-adjust:none;
}
ul, li, a{
	margin: 0;
	padding: 0;
	text-decoration: none;
	-webkit-text-size-adjust:none;
}
a:link,a:active,a:visited { text-decoration:none; color:#F90;}
a:hover {text-decoration:none; color:#C00}
/* 通用標題內文設定 h1大標....h6內文 */
.bodybox {
	width:557px;
	height:166px;
}
.logo{
	width:557px;
	height:130px;
	float:right;
}
.logo a{
	width:140px;
	height:35px;
	display:block;
	float:right;
	padding:11px 15px;
	background:url(../images/logo-1.gif) no-repeat right top;
}

/* Menu */
.topmenuALL {
	width:557px;
	height:35px;
	float:left;
	background-color:#009998;
}
.topmenu {
	width:557px;
	height:35px;
	float:left;
	background-color:#009998;
}
ul, li {
	list-style: none;
}
/* 選單 li 之樣式 */
ul.navigation li {
	position: relative;
	float: left;
	font-size: 11px;
	font-weight:bold;
	font-family:Verdana;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation li a{
	padding: 4px 4px;
	display: block;
	width:102px;
	height:27px;
	background: #009998;
	text-align:right;
	color: #FFF;
	border-top:1px solid #fff;
	border-right:1px solid #fff;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation > li > a:hover{
	color: #fff;
	background: #4d4d4d;
}
/* 特定在第一層 > 第二層或以後下拉部分之樣式 */
ul.navigation ul{
	display: none;
	float: left;
	position: absolute;		
	left: 0;	
	margin: 0;
	bottom:36px;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation li:hover > ul{
	display: block;
}			
/* 特定在第二層或以後下拉部分 li 之樣式 */
ul.navigation ul li {
}
/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation ul li:last-child {
	border-bottom: none;
}
/* 第二層或以後選單 li 之樣式 */
ul.navigation ul a {
	width: 285px;
	height:13px;
	color: #fff;		
	background: #006a6a;
	font-weight:normal;
	font-family:Verdana;
	text-align:left;
	border-top:none;
	border-right:none;	
}
ul.navigation ul a:hover {		
	background: #4d4d4d;				
}

/* 選單 li 之樣式_1 */
ul.navigation_1 li {
	position: relative;
	float: left;
	font-size: 11px;
	font-weight:bold;
	font-family:Verdana;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation_1 li a{
	padding: 4px 4px;
	display: block;
	width:103px;
	height:27px;
	background: #009998;
	text-align:right;
	color: #FFF;
	border-top:1px solid #fff;
	border-right:1px solid #fff;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation_1 > li > a:hover{
	color: #fff;
	background: #4d4d4d;
}
/* 特定在第一層 > 第二層或以後下拉部分之樣式 */
ul.navigation_1 ul{
	display: none;
	float: left;
	position: absolute;		
	left: 0;	
	margin: 0;
	bottom:36px;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation_1 li:hover > ul{
	display: block;
}			
/* 特定在第二層或以後下拉部分 li 之樣式 */
ul.navigation_1 ul li {
}
/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation_1 ul li:last-child {
	border-bottom: none;
}
/* 第二層或以後選單 li 之樣式 */
ul.navigation_1 ul a {
	width: 170px;
	height:13px;
	font-size: 11px;
	color: #fff;		
	background: #006a6a;
	font-weight:normal;
	font-family:Verdana;
	text-align:left;
	border-top:none;
	border-right:none;	
}
ul.navigation_1 ul a:hover {		
	background: #4d4d4d;				
}
/* 選單 li 之樣式_2 */
ul.navigation_2 li {
	position: relative;
	float: left;
	font-size: 11px;
	font-weight:bold;
	font-family:Verdana;
}
/* 選單 li 裡面連結之樣式 */
ul.navigation_2 li a{
	padding: 4px 4px;
	display: block;
	width:102px;
	height:27px;
	background: #009998;
	text-align:right;
	color: #FFF;
	border-top:1px solid #fff;
}
/* 特定在第一層，以左邊灰線分隔 */
ul.navigation_2 > li > a:hover{
	color: #fff;
	background: #4d4d4d;
}
/* 特定在第一層 > 第二層或以後下拉部分之樣式 */
ul.navigation_2 ul{
	display: none;
	float: left;
	position: absolute;		
	left:-70px;	
	margin: 0;
	bottom:36px;
}
/* 當第一層選單被觸發時，指定第二層顯示 */
ul.navigation_2 li:hover > ul{
	display: block;
}			
/* 特定在第二層或以後下拉部分 li 之樣式 */
ul.navigation_2 ul li {
}
/* 特定在第二層或以後下拉部分 li （最後一項不要底線）之樣式 */
ul.navigation_2 ul li:last-child {
	border-bottom: none;
}
/* 第二層或以後選單 li 之樣式 */
ul.navigation_2 ul a {
	width: 172px;
	height:13px;
	font-size: 11px;
	color: #fff;		
	background: #006a6a;
	font-weight:normal;
	font-family:Verdana;
	text-align:left;
	border-top:none;
	border-right:none;	
}
ul.navigation_2 ul a:hover {		
	background: #4d4d4d;				
}
.content11b {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	line-height: 17px;
	font-weight: bold;
	color: #575757;
}
.jumpmenu {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #333333;
	text-decoration: none;
}

.content_1{
	width: 170px;
	height:13px;
	padding: 4px 5px 6px 5px;
	font-size: 12px;
	font-weight:normal;
	font-family:Verdana;
	text-align:left;	
	color:#fff;
	background:#006a6a;
}
.copyright {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size:10px;
	color: #FFFFFF;
	text-decoration: none;
}