@charset "utf-8";
/* 基本定義 */
body {
	-webkit-text-size-adjust: none;
	height: 520px;
	font-family: Verdana;
}

a:link,a:active,a:visited { text-decoration:none; color:#262520;}
a:hover {text-decoration:none; color:#F90;}

.clear{clear:both;}
img {
	border:0;
}
/* 基本設定 */
.bodybox {
	width:920px;
	/* [disabled]font-family:Verdana, Arial, Helvetica, sans-serif; */
	margin:0 auto;
	-webkit-text-size-adjust:none;
}
/* 通用標題內文設定 h1大標....h6內文 */
h1{
	font-size:26px;
	font-weight:bold;
	text-align:left;
	color:#3d3d3d;
	padding-bottom:15px;
}
h2{
	font-size:14px;
	text-align:left;
	color:#3d3d3d;
	margin-top:15px;
	font-weight: bold;
}
h3{
	font-size:16px;
	font-weight:bold;
	text-align:left;
	color:#3d3d3d;
	padding-bottom:15px;
	border-bottom:dotted 2px #cecece;
}
h4{
	font-size:11px;
	color:#3d3d3d;
	margin-top:5px;
	margin-left:5px;
	margin-right:5px;
	margin-bottom:5px;
}
h5{
	font-size:15px;
	text-align:left;
	color:#3d3d3d;
	margin-top:15px;
	font-weight: bold;
}
h6{
	font-size: 11px;
	font-weight:normal;
	line-height: 18px;
	text-align: left;
	font-family: Verdana;
	/* [disabled]color:#3d3d3d; */
	margin-top: 10px;
	margin-bottom: 20px;
	text-decoration: none;
}
h6 sup{font-size:7px;}

/* header */
.header{
	width:920px;
	margin:0 auto;
	height:81px;
	z-index:10;/* 0812新增 */
}
.logo{
	width:86px;
	height:81px;
	background:url(../images/logo.jpg) no-repeat left top;
	float:left;
}
.logo a{
	width:86px;
	height:81px;
	display:block;
}
.logo2{
	width:86px;
	height:81px;
	background:url(../images/logo2.jpg) no-repeat left top;
	float:left;
}
.logo2 a{
	width:86px;
	height:81px;
	display:block;
}
.search_main{
	width:750px;
	height:22px;
	text-align:right;
	padding:8px 0px 8px 0px;
	margin-bottom:10px;
	border-bottom:dotted 1px #a0a0a0;
	float:right;
}
.search{
	width:190px;
	height:20px;
	text-align:left;
	border:solid 1px #d7d7d7;
	float:right;
}
.search .search_input{
	color:#797979;
	font-size:10px;
	width:155px;
	height:18px;
	padding-left:10px;
	border:solid 1px #fff;
	text-align:left;
	background-color:#fff;
	float:right;
}

.search .btn{
	float:right;
}
.search .btn a{
	background:url(../images/btn_search.gif) no-repeat center;
	width:20px;
	height:20px;
	display:block;
}
.search .btn a:hover{
	background:url(../images/btn_search_a.gif) no-repeat center;
	display:block;
}

/* 語系 */
.language{
	color:#797979;
	float:right;
}
/* 絕對位置在IE7的時候要改為relative才會正常 */
.language ul{
	color:#ef9b05;
	font-size:11px;
	text-align:left;
	padding:1px 10px 0 10px;
	z-index:200;
	background:url(../images/icon_dotted_arrow.gif) no-repeat left top;
}
.language ul .category{
	font-size:11px;
}
.language ul .category a{
	color:#797979;
	text-decoration: none;
}
.language ul .category a:hover{
	color:#ef9b05;
	text-decoration: none;
}
/* .language ul .item{
	font-size:12px;
	display:none;
	background-color:#FFFFFF;
}
.language ul:hover .item{
	width:80px;
	display:block;
	border-bottom:dotted 1px #5a96fa;
	color:#f98307;
	
}
.language ul:hover .item a{
	margin:0;
	padding:3px;
	font-size:12px;
	color:#797979;
	background-color:#FFF;
	display:block;
	text-decoration: none;
}
.language ul:hover .item a:hover{
	display:block;
	background-color:#ffdbab;	
	color:#f98307;
	font-weight:bold;
	text-decoration: none;
}*/
/* menu */
.topmenuALL {
	width:740px;
	height:25px;
	float:right;
	
}
.topmenu {
	text-align:left;
	position:absolute;
	*position:relative;
	z-index:100;
}
.topmenu ul{
	float:left;
	margin:0;
	*margin:-3px 0 0 0;
	list-style:none;
}
/* 0812新增 */
.topmenu ul .categoryPic{
	padding:0px 10px 7px 10px;
	display:block;
}
.topmenu ul:hover .categoryPic{
	display:block;
}
.topmenu ul .category{
	padding:0px 10px 7px 10px;
	/*display:block;*/
	font-family:Verdana;
	font-size:11px;
	-webkit-transform : scale(0.91);
	font-weight:bold;
	letter-spacing:-1px;
	color:#404040;
	/*padding:0 0 15px 0;*/
	/*margin-bottom:10px;*/
	/*border-bottom:dotted 1px #cecece;*/
	display:block;
	height:25px;
	background-color:#FFFFFF;	
	-webkit-text-size-adjust:none;
	display:inline-block;
}
/* 0812新增 */
.topmenu ul .category a{
	display:block;
	height:25px;
	color:#555555;	
}
.topmenu ul:hover .category{
	display:block;
}
.topmenu ul:hover .category a:hover{
	display:block;
	color:#ef9b05;
}

.topmenu ul .item{
	display:none;
	background-image:url(../Images/ui/topmenu_bg.png);
	background-color:#FFFFFF;	
}
.topmenu ul:hover .item{
	margin:0 0 0 0;
	*margin:-2px 0 0 0;
	padding:0;
	display:block;
	width:220px;/* 下拉選單寬度 */
	border-bottom:dotted 1px #5a96fa;/* 藍色點點 */
	-webkit-text-size-adjust:none;
}
/* 0812新增 */
.topmenu ul:hover .item a{
	font-family:Verdana;
	font-size:10px;
	line-height:14px;
	font-weight:bold;
	padding:3px 10px 3px 10px;
	color:#555555;
	background-color:#fff;
	/*border-bottom:dotted 1px #cecece;	*/
	display:block;
}
/* 0812新增 */
.topmenu ul:hover .item a:hover{	
	color:#f98307;
	background-color:#ffdbab;		
}
/* 大圖 */
.topimage {
width:920px;
height:280px;
}
/* navi-bar */
.navi-bar-index{
	font-size:11px;
	text-align:left;
	margin:15px 0px 15px 10px;
	background-repeat:no-repeat;
	color:#666;
}
.navi-bar-index a{
	color:#666;
}
.navi-bar-index a:hover{
	color:#ef9b05;
}

.navi-bar{
	font-size:11px;
	text-align:left;
	margin:0px 0px 15px 10px;
	padding:8px 0 0 0;
	background-repeat:no-repeat;
	color:#666;
	clear:both;
	-webkit-text-size-adjust:none;
}

.navi-bar a{
	color:#666;
}
.navi-bar a:hover{
	color:#ef9b05;
}

.navi-bar2{
	font-size:11px;
	text-align:left;
	padding:5px 0px 5px 10px;
	margin:8px 0 16px 0;
	color:#666;
	background-color:#e6e8f4;
	background-image:url(../Images/about/bar.jpg);
	background-position:right;
	background-repeat:no-repeat;
	-webkit-text-size-adjust:none;
}
.navi-bar2 a{
	color:#666;
}
.navi-bar2 a:hover{
	color:#ef9b05;
}

/* more */
.more{
	width:25px;
	font-size:9px;
	font-weight:bold;
	background:url(../Images/icon_arrow.gif) no-repeat left center;
	padding-left:13px;
	text-align:right;
	display:block;
	float:right;
}
.more a{
	color:#b1b1b1;
	display:block;
}
.more a:hover{
	color:#ef9b05;
	display:block;
}
/* top */
.top{
	width:400px;
	font-size:9px;
	font-weight:bold;
	background:url(../Images/icon_dotted_arrow_top.gif) no-repeat left center;
	padding:15px 0px 15px 20px;
	text-align:left;
	display:block;
	float:left;
}
.top a{
	color:#b1b1b1;
	display:block;
}
.top a:hover{
	color:#ef9b05;
	display:block;
}
/* Return */
.Return{
	width:100px;
	font-size:9px;
	font-weight:bold;
	background:url(../Images/icon_dotted_arrow_top.gif) no-repeat left center;
	padding:15px 0px 15px 20px;
	text-align:left;
	display:block;
	float:left;
}
.Return a{
	color:#b1b1b1;
	display:block;
}
.Return a:hover{
	color:#ef9b05;
	display:block;
}
/* main-left & center */
.main-left{
	width:210px;
	padding:0px 55px 40px 10px;
	text-align:left;
	float:left;
}
.main-left ul{
	float:left;
	margin:0px;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#3d3d3d;
}
.main-left ul a{
	padding:0px 10px 0px 10px;
	background-color:#fff;
	display:block;
	font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#3d3d3d;
}
.main-left .category{
font-family:Verdana;
	font-size:11px;
	font-weight:bold;
	color:#3d3d3d;
	padding:0 0 15px 0;
	margin-bottom:10px;
	border-bottom:dotted 2px #cecece;
	display:block;
}
.main-left .menu{
    font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	color:#3d3d3d;
	background:url(../Images/icon_dotted_arrow2.gif) no-repeat right;
	display:block;
}
.main-left .menu a{
    font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	padding:3px 0px 3px 0px;
	color:#3d3d3d;
	border-bottom:dotted 1px #cecece;
	background:url(../Images/icon_dotted_arrow2.gif) no-repeat right;
	display:block;
}
.main-left .menu a:hover{
font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	color:#f98307;
	background-color:#ffdbab;
	display:block;
}
.main-left .menu2{
font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	height:23px;
	color:#3d3d3d;
	border-bottom:dotted 1px #cecece;
	background:url(../Images/icon_dotted_arrow2.gif) no-repeat right;
	display:block;
}
.main-left .menu2 a{
	padding-left:6px;
    font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	height:23px;
	color:#3d3d3d;
	border-bottom:dotted 1px #cecece;
	background:url(../Images/icon_dotted_arrow2.gif) no-repeat right;
	display:block;
}
.main-left .menu2 a:hover{
font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	height:23px;
	color:#f98307;
	background-color:#ffdbab;
	display:block;
}
.main-left .menu3{
}
.main-left .menu3 a{
font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	line-height:15px;
	color:#3d3d3d;
	border-bottom:dotted 1px #cecece;
	display:block;
	padding:3px 0px 3px 12px;
}
.main-left .menu3 a:hover{
	color:#f98307;
	background-color:#ffdbab;
	display:block;
}
.main-center{
	width: 520px;
	text-align: left;
	float: left;
	padding-top: 0px;
	/*padding-right: 15px;*/
	padding-right: 0;
	padding-bottom: 20px;
	padding-left: 0px;
	z-index: 0;
}
.main-center .category{
	font-size:26px;
	font-weight:bold;
	color:#3d3d3d;
	padding-bottom:10px;
}
.main-center .title{
	font-size:16px;
	font-weight:bold;
	text-align:left;
	color:#3d3d3d;
	border-bottom:dotted 2px #cecece;
	padding-bottom: 15px;
	margin-bottom:0px;
}

/* chip */
.left-chip{
	width:250px;
	float:left;
}
.right-chip{
	width:630px;
	padding:0px 40px 40px 0px;
	text-align:left;
	float:left;
}
.right-chip h6 a{
	color:#F90;
	text-decoration:none;
}
.right-chip h6 a:hover{
	color:#F30;
	text-decoration:none;
}

/* footer */
.footer{
	width:920px;
	height:40px;
	text-align:left;
	padding:0px 0px 25px 0px;
	float:left;
}
.footermenu{
	width:410px;
	float:left;
}
.footermenu ul{
}
.footermenu li{
	/* background:url(../Images/footer_menu_line.jpg) no-repeat right center; */
	padding-right:10px;
	float:left;
}

.copyright{
	font-size:9px;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	color:#646464;
	margin:0 auto;
	text-align:right;
}

.facebook{
	background:url(../Images/icon_fb.jpg) no-repeat;
	margin-left:5px;
	display:block;
	float:left;
}
.facebook a{
	width:20px;
	height:20px;
	display:block;
}
.facebook a:hover{
	background:url(../Images/icon_fb_a.jpg) no-repeat;
	display:block;
}
.twitter{
	margin-left:5px;
	background:url(../Images/icon_t.jpg) no-repeat;
	float:left;
}
.twitter a{
	width:20px;
	height:20px;
	display:block;
}
.twitter a:hover{
	background:url(../Images/icon_t_a.jpg) no-repeat;
	display:block;
}
/* Sensor SiP */
.Sensor{
	width:670px;
	padding:30px 0px 30px 0px;
	text-align:left;
	float:left;
}
.Sensor .menu{
    font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	height:23px;
	color:#3d3d3d;
	display:inline;
}
.Sensor .menu a{
    font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	height:23px;
	color:#3d3d3d;
	border-top:dotted 1px #cecece;
	border-bottom:dotted 1px #cecece;
	display:inline;
	padding:5px 12px 5px 12px;
	margin-right:5px;
}
.Sensor .menu a:hover{
    font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	color:#ffffff;
	background-color:#88b1cb;
	display:inline;
}
.Sensor .menu1{
    font-family:Verdana;
	font-size:10px;
	font-weight:bold;
	height:23px;
	color:#ffffff;
	background-color:#88b1cb;
	border-top:dotted 1px #cecece;
	border-bottom:dotted 1px #cecece;
	display:inline;
	padding:5px 12px 5px 12px;
	margin-right:5px;
	display:inline;
}
