<ISO/IEC 27001:2013 Edition & Security Policyhtml><!-- InstanceBegin template="/Templates/quality.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<!-- InstanceBeginEditable name="doctitle" -->
<title>ASE Kaohsiung</title>
<!-- InstanceEndEditable --><script language="JavaScript" type="text/JavaScript">
<!--
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<link href="../css/index.css" rel="stylesheet" type="text/css">
<!-- InstanceBeginEditable name="head" --><!-- InstanceEndEditable -->
</head>

<body leftmargin="12" topmargin="12" marginwidth="12" marginheight="12" onLoad="MM_preloadImages('../images/topbar_1_over.gif','../images/topbar_2_over.gif','../images/topbar_3_over.gif','../images/topbar_4_over.gif','../images/topbar_5_over.gif','../images/menu1-1over.gif','../images/menu1-2over.gif','../images/menu1-3over.gif','../images/menu1-3over.gif','../images/home_over.gif','../images/contactinfo_over.gif','../images/sitemap1_over.gif','../images/menu4-4over.gif')">
<span class="navigation"><a name="top"></a></span>
<table width="780"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="1"><img src="../images/space.gif" width="1" height="1"></td>
  </tr>
</table>
<table width="780" height="85" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="1"><img src="../images/space.gif" width="1" height="1"></td>
    <td height="55" valign="top" bgcolor="#009998"><a href="../index.html"><img src="../images/logo.gif" width="150" height="45" border="0"></a></td>
    <td width="1"><img src="../images/space.gif" width="1" height="1"></td>
  </tr>
  <tr>
    <td width="1"><img src="../images/space.gif" width="1" height="1"></td>
    <td valign="bottom" bgcolor="#009998"><table width="778" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td width="1" height="1" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="1"></td>
        </tr>
      </table>
        <table width="778" border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td width="155"><a href="1-1.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image12','','../images/topbar_1_over.gif',1)"><img src="../images/topbar_1.gif" name="Image12" width="155" height="20" border="0"></a></td>
            <td width="1" height="20" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="20"></td>
            <td width="155"><a href="2.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image13','','../images/topbar_2_over.gif',1)"><img src="../images/topbar_2.gif" name="Image13" width="155" height="20" border="0"></a></td>
            <td width="1" height="20" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="20"></td>
            <td width="155"><a href="3-1.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image14','','../images/topbar_3_over.gif',1)"><img src="../images/topbar_3.gif" name="Image14" width="155" height="20" border="0"></a></td>
            <td width="1" height="20" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="20"></td>
            <td width="155"><a href="4-1.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image15','','../images/topbar_4_over.gif',1)"><img src="../images/topbar_4.gif" name="Image15" width="155" height="20" border="0"></a></td>
            <td width="1" height="20" bgcolor="#FFFFFF"><img src="../images/space.gif" width="1" height="20"></td>
            <td width="154"><a href="5.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image16','','../images/topbar_5_over.gif',1)"><img src="../images/topbar_5.gif" name="Image16" width="154" height="20" border="0"></a></td>
          </tr>
      </table></td>
    <td width="1"><img src="../images/space.gif" width="1" height="1"></td>
  </tr>
</table>
<table width="780"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="1"><img src="../images/space.gif" width="1" height="1"></td>
  </tr>
</table>
<table width="780" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1" height="15"><img src="../images/space.gif" width="1" height="15"></td>
    <td width="155" bgcolor="#CCCCCC"><img src="../images/space.gif" width="1" height="15"></td>
    <td width="624" align="right" class="navigation"><!-- InstanceBeginEditable name="nevigation" -->ASE Kaohsiung TOP > Quality Management &gt; Quality Certification<!-- InstanceEndEditable --></td>
  </tr>
</table>
<table width="780"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="1"><img src="../images/space.gif" width="1" height="1"></td>
  </tr>
</table>
<table width="780" border="0" cellpadding="0" cellspacing="0">
  <tr>
    <td width="1" height="55"><img src="../images/space.gif" width="1" height="55"></td>
    <td width="155" background="../images/ball_silver.gif">&nbsp;</td>
    <td width="624">&nbsp;</td>
  </tr>
</table>
<table width="780"  border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td height="1"><img src="../images/space.gif" width="1" height="1"></td>
  </tr>
</table>
<table width="780" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="1" height="20"><img src="../images/space.gif" width="1" height="20"></td>
    <td width="155" valign="top"><table width="155" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td bgcolor="#49B1BA"><img src="../images/title-total.gif" width="155" height="22"></td>
      </tr>
      <tr>
        <td><a href="4-1.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image28','','../images/menu4-1over.gif',1)"><img src="../images/menu4-1.gif" name="Image28" width="155" height="22" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="4-2.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image29','','../images/menu4-2over.gif',1)"><img src="../images/menu4-2.gif" name="Image29" width="155" height="22" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="4-3.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image30','','../images/menu4-3over.gif',1)"><img src="../images/menu4-3.gif" name="Image30" width="155" height="22" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="4-4.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image31','','../images/menu4-4over.gif',1)"><img src="../images/menu4-4.gif" name="Image31" width="155" height="22" border="0"></a></td>
      </tr>
      <tr>
        <td height="2"><img src="../images/space.gif" width="1" height="2"></td>
      </tr>
      <tr>
        <td height="15" background="../images/ball_silver.gif"><img src="../images/space.gif" width="1" height="15"></td>
      </tr>
      <tr>
        <td height="2"><img src="../images/space.gif" width="1" height="2"></td>
      </tr>
      <tr>
        <td><a href="../index.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image36','','../images/home_over.gif',1)"><img src="../images/home.gif" name="Image36" width="155" height="22" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="contact.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image37','','../images/contactinfo_over.gif',1)"><img src="../images/contactinfo.gif" name="Image37" width="155" height="21" border="0"></a></td>
      </tr>
      <tr>
        <td><a href="sitemap.html" onMouseOut="MM_swapImgRestore()" onMouseOver="MM_swapImage('Image38','','../images/sitemap1_over.gif',1)"><img src="../images/sitemap1.gif" name="Image38" width="155" height="21" border="0"></a></td>
      </tr>
    </table></td>
    <td width="54" valign="top"><img src="../images/space.gif" width="1" height="20"></td>
    <td width="520" valign="top" class="content11"><table width="520" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td class="content18"><!-- InstanceBeginEditable name="Title" -->Quality Certification<!-- InstanceEndEditable --></td>
      </tr>
      <tr>
        <td height="4"><img src="../images/ballline.gif" width="520" height="4"></td>
      </tr>
    </table>
    <br>
    <br>
    <br>
    <!-- InstanceBeginEditable name="Content" -->
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td colspan="2" valign="top"><span class="content14">ISO 9001:2015 Edition</span></td>
        <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_ISO9001_certification_2018.pdf" target="_blank"><img src="../images/ASEKH_ISO9001_certification_2018.jpg" width="160" height="226" vspace="7" border="0"></a></td>
      </tr>
      <tr>
        <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
            <tr>
              <td width="15" valign="top">&#8226;</td>
              <td valign="top">Compliance to ISO 9001:2015 Edition Commodity</td>
            </tr>
            <tr>
              <td valign="top">&#8226;</td>
              <td valign="top">Coverage: ASEKH- Assembly, Test and Materials sites</td>
            </tr>
            <tr>
              <td valign="top">&#8226;</td>
              <td valign="top">Certificate No.: 44 100 067225-001/002/003/004</td>
            </tr>
            <tr>
              <td valign="top">&#8226;</td>
              <td valign="top">Certificate Issued: Fab 09, 2018</td>
            </tr>
            <tr>
              <td valign="top">&#8226;</td>
              <td valign="top">Certificate Validity: until Jan. 12, 2021</td>
            </tr>
            <tr>
              <td valign="top">&#8226;</td>
              <td valign="top">Certification Body: TUV NORD CERT GmbH</td>
            </tr>
        </table></td>
      </tr>
    </table>
    <br>
    <br>
    <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14"> IATF 16949:2016 Edition</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/IATF_16949-2016_2018-2021.pdf" target="_blank"><img src="../images/IATF_16949-2016_2018-2021.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Compliance to IATF 16949:2016 Edition (for Automotive device/product standard requirements) + Customer Specific Requirements-Semiconductor Commodity</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Coverage: ASEKH- Assembly, Test and Materials sites</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.: 44 111 067225-001/003</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued: January 15, 2018</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Validity: until January 14, 2021</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: TUV NORD CERT GmbH</td>
      </tr>

    </table></td>
    </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO 14001:2015 Edition</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_ISO_14001_Certification_2019-2022.pdf" target="_blank"><img src="../images/ASEKH_ISO_14001_Certification_2019-2022.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Compliance to ISO 14000: 2015 Edition &ndash; Environmental Management System standard requirements + Government Regulatory Requirements</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Coverage: ASEKH- Assembly, Test and Material sites</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.: 44 104 102060-001/002/003</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued: February 22, 2019</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Validity: until February 21, 2022</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: TUV NORD CERT GmbH</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO/IEC 17025:2017 ; CNS 17025:2018 Edition  (For Calibration Laboratory)</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_ISO_IEC17025_CNS17025_2020-2023.pdf" target="_blank"><img src="../images/ASEKH_ISO_IEC17025_CNS17025_2020-2023.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Accredited to Laboratory Standards</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Coverage: ASEKH Calibration Laboratory</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.: L1421-200619</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate issued on November 03, 2020</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate validi until November 2, 2023</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: TAF</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO/IEC 17025:2017; CNS 17025:2018 Edition<br>
      (For Reliability Laboratory)</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASE_ISO_IEC_17025-2017_CNS_17025-2018.pdf" target="_blank"><img src="../images/ASE_ISO_IEC_17025-2017_CNS_17025-2018.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
        <tr>
          <td width="15" valign="top">&#8226;</td>
          <td valign="top">Accredited to Laboratory Standards</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Coverage: ASEKH Reliability Laboratory</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate No.: L1668-191213</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate issued on December 09, 2019</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate validi until December 08, 2022</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certification Body: TAF</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO 50001:2011 Edition<br>
      (Energy Management System)</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ISO_50001-2011_2018-2021.pdf" target="_blank"><img src="../images/ISO_50001-2011_2018-2021.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
        <tr>
          <td width="15" valign="top">&#8226;</td>
          <td valign="top">Coverage: ASEKH Assembly, Test and ASEE, Inc. (Materials)</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate No.: TW18/10191.00/ TW18/10191.02/ TW18/10191.03</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top"> Certificate Issued on June 25, 2018</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate valid until on June 12, 2021</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Ceritification Body: SGS</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO 45001:2018 Edition (Occupational Health and Safety Management Systems)</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_ISO-45001_Certification_2019-2022.pdf" target="_blank"><img src="../images/ASEKH_ISO-45001_Certification_2019-2022.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Coverage: ASEKH- Assembly, Test and Material sites</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.: 4412619820107</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued: March 12, 2019</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Validity: March 11, 2022</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: TUV RORD</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">SONY Green Partner</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_Notification_for_certification_2020-2023.pdf" target="_blank"><img src="../images/ASEKH_Notification_for_certification_2020-2023.jpg" width="160" height="219" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Compliance to SONY Green Package standard requirements.</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Coverage: ASE Kaohsiung sites</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Factory Code: FC004437</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued: Mar.2, 2020</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Validity: until May 31, 2023</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: Procurement Center, Sony Corporation</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">QC 080000 Certification</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASE_QC080000_2019-2022.pdf" target="_blank"><img src="../images/qc_080000_2019-2022.jpg" width="160" height="212" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Compliance to QC 080000:2017 Hazardous Substance Process Management (HSPM) requirements.<br>
          (Under EICQ certification standard)</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Coverage: ASEKH- Assembly,  Materials and Test sites</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.: IECQ-H SGSTW 09.0058, IECQ-H SGSTW 09.0058-01,IECQ-H SGSTW 09.0058-02</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued: August 16, 2019</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Validity: until August 15, 2022</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: SGS Taiwan Ltd</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">TOSHMS:2007 Edition (CNS 45001:2018)<br>
      (Taiwan Occupational Safety and Health Management System)</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_TOSHMS_2007_2020-2022.pdf" target="_blank"><img src="../images/ASEKH_TOSHMS_2007_2020-2022.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Coverage: ASEKH Assembly, Test and ASEE, Inc.</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.:  CB09-105001-01- ASEKH, Inc.</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.:  CB09-99001-02 - ASE, Inc. (Assembly site)</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">          Certificate No.: CB09-99002-02 - ASE Test, Inc. (Test site)</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">          Certificate No.: CB09-99003-02 - ASEE, Inc.(Substrate Materials site)</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued on March 23, 2020</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate valid until on March 11, 2022</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Ceritification Body: TUV NORD</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ANSI/ESD S20.20:2014 EDITION</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ANSI_ESD-S2020_2020_2021.pdf" target="_blank"><img src="../images/ANSI_ESD-S2020_2020_2021.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Compliance to ANSI/ESD S20.20: 2014 Edition - Electrostatic Discharge Control Program Standard.</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Coverage: Coverage: ASEKH-Assembly, TEST site</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.: TW12/10029</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued: January 4, 2020</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Validity: until January 3, 2021</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: SGS</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">IEC-61340-5-1:2016 EDITION</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/IEC_61340-5-1-2020_Y2021.pdf" target="_blank"><img src="../images/IEC-61340-5-1_2020_2021.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
        <tr>
          <td width="15" valign="top">&#8226;</td>
          <td valign="top">Compliance to IEC-61340-5-1:2016 Edition - Electrostatic Discharge Control Program Standard.</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Coverage: ASEKH-Assembly, TEST site</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate No.: TW13/10026</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate Issued: January 4, 2020</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate Validity: until January 3, 2021</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certification Body: SGS</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO 28000:2007 Edition<br>
      (For security management systems for the supply chain)    </span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASE_ISO28000_2019-2022.pdf" target="_blank"><img src="../images/ASE_ISO28000_2019-2022.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
        <tr>
          <td width="15" valign="top">&#8226;</td>
          <td valign="top">Compliance to ISO 28000:2007 Edition for Sucurity management systems for the supply chain</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Coverage: ASEKH K7/K8/K10/K15 Provision Services of logistics, transportation and warehouse management</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate No.: TW16/00821</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate issued on September 29, 2019</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate validi until September 29, 2022</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certification Body: SGS</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">TWAEO Edition<br>
      (For Business type (Exporter, Improter, Manufacturer))</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASE_ASEE_ASET_TWAEO_2017.pdf" target="_blank"><img src="../images/ASE_ASEE_ASET_TWAEO_2017.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
        <tr>
          <td width="15" valign="top">&#8226;</td>
          <td valign="top">Compliance to Business type of TWAEO Edition for Business type (Exporter, Improter, Manufacturer)</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Coverage: ASE, ASEE and ASE TEST</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">ASE Certificate No.: TWAEO-100000034&nbsp; <br>
            ASEE Certificate No.: TWAEO-100000035<br>
            ASET Certificate No.:TWAEO-100000036</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate issued on October 27, 2011</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certification Body: Customs Administration Ministry of Finance</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">Common Criteria Part 3 conformant in EAL6<br>
      (Compliance to Common Criteria Part 3 conformant in EAL6: for Information Technology Security Evaluation)</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASE_S0092_EAL6_2019-2021.pdf" target="_blank"><img src="../images/ASE_S0092_EAL6_2019-2021.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
        <tr>
          <td width="15" valign="top">&#8226;</td>
          <td valign="top">Coverage: ASEKH K4/K7/K8/K10/K11/K12</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate No.: BSI-DSZ-CC-S-0145-2019</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certifcate issued on October 31, 2019</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate validi until October 30, 2021</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certification Body: Germany Federal Office for Information Security (BSI)</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO 26262:2018 Edition</span><br />
		<span class="content12" style="color: #333">Compliance for<br />
		&raquo; ISO 26262 part 2: 2018 <br>
		&nbsp; &nbsp;- Management of functional Safety<br>
		&raquo; ISO 26262 part 7: 2018 <br>
		&nbsp; &nbsp;- Production and operation, service and decommissioning<br>
		&raquo; ISO 26262 part 8 (clause): 2018<br>
		&nbsp; &nbsp;- Supporting process</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_ISO26262-2018_2019-2022.pdf" target="_blank"><img src="../images/ASEKH_ISO26262-2018_2019-2022.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top">
      <table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
        <tr>
          <td width="15" valign="top">&#8226;</td>
          <td valign="top">Coverage: ASE</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate No.: NF 1105190011</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate Issued: November 11, 2019</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certificate Validity: until November 10, 2022</td>
        </tr>
        <tr>
          <td valign="top">&#8226;</td>
          <td valign="top">Certification Body: TUV Asia Pacific Ltd.</td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">RBA Edition</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_RBA_Certification_2019-2021.pdf" target="_blank"><img src="../images/ASEKH_RBA_Certification_2019-2021.jpg" width="160" height="120" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Compliance to RBA Edition for Responsible Business Alliance</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Coverage: ASEKH- Assembly, Test and Materials sites</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Validated Audit Report: VAR-20190617-886-05A01</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued: July 14, 2019</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Validity: until June 19, 2021</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: RBA</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO 14064-3:2006 Edition<br>
      (Greenhouse GAS Emissions)</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_ISO_14064-3_Certification_2020.pdf" target="_blank"><img src="../images/ASEKH_ISO_14064-3_Certification_2020.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Coverage: ASEKH- Assembly, Test and Material sites</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Holds Statement No.Assembly - GHGEV-1722 / Test - GHGEV-1706 / ASEE - GHGEV-1708</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Originally Issue: Assembly - May 22, 2020; Test - May 25, 2020; ASEE - May 25, 2020</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: BSI/TAF</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO 22301:2012 Edition</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_ISO22301_2020-2022.pdf" target="_blank"><img src="../images/ASEKH_ISO22301_2020-2022.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Compliance to ISO 22301:2012 (For Business Continuity Management System)</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Coverage: Bumping, Wirebond, Flipchip and Test of IC and related suport activities.</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.: BCMS 704809</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued: April. 21, 2019</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Validity: until April. 20, 2022</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: BSI</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
<table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
  <tr>
    <td colspan="2" valign="top"><span class="content14">ISO/IEC 27001:2013 Edition & Security Policy</span></td>
    <td width="170" rowspan="2" align="right" valign="top"><a href="../pdf/ASEKH_ISO_IEC_27001-2013_2020-2023.pdf" target="_blank"><img src="../images/ASEKH_ISO_IEC_27001-2013_2020-2023.jpg" width="160" height="226" vspace="7" border="0"></a></td>
  </tr>
  <tr>
    <td colspan="2" valign="top"><table width="100%" border="0" cellpadding="0" cellspacing="0" class="content11">
      <tr>
        <td width="15" valign="top">&#8226;</td>
        <td valign="top">Compliance to ISO/IEC 27001:2013 Edition</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Coverage: ASEKH (IT Center, HR Division and Security Committee Office)</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate No.: ISMS188</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Issued: 2020-04-14</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certificate Validity: 2023-04-13</td>
      </tr>
      <tr>
        <td valign="top">&#8226;</td>
        <td valign="top">Certification Body: TUV ASIA PACIFIC LIMITED Taiwan Branch</td>
      </tr>
    </table></td>
  </tr>
</table>
<br>
<br>
    <table width="100%"  border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td align="right"><a href="#top"><img src="../images/top.gif" width="33" height="12" border="0"></a></td>
      </tr>
    </table>
    <!-- InstanceEndEditable --><br>  
    <br>
    <table width="520" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="4"><img src="../images/ballline.gif" width="520" height="4"></td>
      </tr>
      <tr>
        <td height="4" align="right" class="copy">2008 ASE Kaohsiung, All rights reserved. <a href="http://www.aseglobal.com/content/termsofuse.htm"  target="_blank"><font color="#999999">Terms of Use</font></a></td>
      </tr>
    </table></td>
    <td width="50" valign="top">&nbsp;</td>
  </tr>
</table>
</body>
<!-- InstanceEnd --></html>
