﻿<table border="0" >

  <tr bgcolor="#FFFFFF"> 
    <td width=130><p><img style="cursor:hand" src="phone.gif" width="50" alt="Click2Talk!" onclick='window.open("phone.htm", "ActiveXPhone", "channelmode=no,directories=no,fullscreen=no,height=350,width=415,location=no,menubar=no,resizable=no,scrollbars=no,status=no,toolbar=no");'>080專線</img> 
       <p><a href="help-cht.htm" target=_blank >使用說明</a></p>
    </td>    
  </tr>
   
</table>